/* font-family: 'Montserrat', sans-serif;
font-family: 'Sigmar One', cursive; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
  padding: 0;
	border: 0;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{
  text-decoration: none;
  color: inherit;
}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
main{
  flex: 1 1 auto;
}
/*header style */ 
.container {}
.header {}
.header__container {
  display: flex;
  text-transform: uppercase;
  margin: 60px 40px;
  justify-content:space-between;
  align-items: center;
}
.header__title h1{
  font-family: 'Sigmar One', cursive;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
}
.header__title span{
  font-weight: 600;
  font-size: 20px;
  background-color: black;
  color: white;
  padding:2px 5px;

}
.nav {}
.nav__menu a{
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
  
}
.nav__menu a:hover{
  padding-bottom: 10px ;
  border-radius: 10px;
  outline: solid 2px black;
}
/* flex photo gallery
.flex-galery-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32.5%;
  align-items: center;

}
.__column img{
width: 100%;
padding-bottom: 15px;
} */
.flex-galery-container{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px 10px;
}
.__column{
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.__column img {
  margin-bottom: 10px;
}
/* My links */
.links-container{
  padding-top:30px;
  display: flex;
  justify-content: center;
}
.links-container__item{
  display: inline-flex;
  justify-content: flex-end;
  justify-items: flex-end;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.links-container_text{
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  padding: 20px 60px;
}


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}