/* font-family: 'Montserrat', sans-serif;
font-family: 'Sigmar One', cursive; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
  padding: 0;
	border: 0;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{
  text-decoration: none;
  color: inherit;
}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main{
  flex: 1 1 auto;
}
/*header style */ 
.container {}
.header {}
.header__container {
  display: flex;
  text-transform: uppercase;
  margin: 60px 40px;
  justify-content:space-between;
  align-items: center;
}
.header__title h1{
  font-family: 'Sigmar One', cursive;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
}
.header__title span{
  font-weight: 600;
  font-size: 20px;
  background-color: black;
  color: white;
  padding:2px 5px;

}
.nav {}
.nav__menu a{
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
}
.flex-galery-container{
  display: flex;
  justify-content: flex-start;
}
.__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.__column img{
margin: 10px;
}
/* My links */
.links-container{
  padding-top:30px;
  display: flex;
  justify-content: center;
}
.links-container__item{
  display: inline-flex;
  justify-content: flex-end;
  justify-items: flex-end;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.links-container_text{
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  padding: 20px 60px;
}
